#frame{
    -fx-background-image: url("file:///C:/Users/nhavb/eclipse-workspace/ATM_Client/img/SACOMBANKPAYJPG-1545389635-2303-1545389651_720x480.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}